@model List<Product>
<partial name="_Notification"/>
@* Wrapper container *@

    <div class="card shadow border-0 mt-4"> @* This container element has no closing tag! *@
        <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Product List</h2>
                </div>
            </div>
        </div>

        <div class="card-body p-4">
            <div class="row pt-4 pb-3">
                <div class="col-6"></div>
                <div class="col-6 text-end">
                    <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i> Create Product
                    </a>
                </div>
            </div>
   
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        ISBN
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        List price
                    </th>
                </tr>
            </thead>

                <tbody>
            @foreach (var obj in Model.OrderBy(u => u.Title))
            {
           

           
                    <tr>
                        <td>
                            @obj.Title
                        </td>
                        <td>
                            @obj.ISBN
                        </td>
                        <td>
                            @obj.Author
                        </td>
                        <td>
                            @obj.Price
                        </td>
                        <td>
                            @obj.ListPrice
                        </td>

                        <td>
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square">Edit</i>
                            </a>
                        </td>
                    </tr>

            }
                </tbody>
            </table>
        </div>
    </div>